* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

/* Common */

.mt-8 {
  margin-top: 8px;
}

.row {
  margin-left: -8px;
  margin-right: -8px;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

.col {
  padding: 0 8px;
  float: left;
}

.col-full {
  width: 100%;
}

.col-half {
  width: 50%;
}

.col-third {
  width: 33.33333%;
}

.text-center {
  text-align: center;
}

.btn {
}

/* Main */

#header {
  height: 46px;
  background-color: #000;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
}

.Text-white {
  color: #fff !important;
}

.text-decoration {
  text-decoration: none !important;
}

/* CSS: header */

#nav {
  display: inline-block;
}

#nav li {
  display: inline-block;
}

#nav > li > a {
  color: #fff;
  text-transform: uppercase;
}

#nav li a {
  color: #fff;
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
}

#nav > li:hover > a {
  color: #000;
  background-color: #ccc;
  display: inline-block;
}

.subnav {
  background-color: #fff;
  z-index: 1;
}

#nav .subnav li a {
  color: #000;
  padding-right: 44px;
}

#nav li:hover .subnav {
  display: block;
}

#nav .subnav li:hover a {
  background-color: #ccc;
  display: block;
}

#nav .subnav li {
  display: block;
}

#nav .subnav {
  display: none;
  position: absolute;
  top: 46px;
  left: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#header .search-button {
  display: inline-block;
  color: #fff;
  position: absolute;
  right: 0;
  line-height: 46px;
  padding: 0 22px;
  cursor: pointer;
}

#header .search-button:hover {
  background-color: #f44336;
}

/* CSS: Slider */

#slider {
  padding-top: 50%;
  background: url(/assets/img/silder/slider1.jpg) top center / cover no-repeat;
  position: relative;
  margin-top: 46px;
}

#slider .Text-slider {
  color: #fff;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.Text-slider .Place {
  padding-bottom: 20px;
  font-size: 25px;
  font-weight: 500;
}

.Text-slider .About {
  padding-bottom: 56px;
  font-weight: 700;
  font-size: 15px;
}

/* CSS: Memembers */

#content .section-content {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 64px 0 112px;
  line-height: 1.5;
}

.section-content .section-heading,
.section-content .section-sub-heading {
  text-align: center;
}

.section-content .section-heading {
  font-size: 30px;
  margin: 10px 0;
  font-weight: 400;
  font-weight: 400;
}

.section-content .section-sub-heading {
  font-size: 15px;
  margin: 15px 0;
  font-style: italic;
  opacity: 0.3;
}

.section-content .text-content {
  text-align: justify;
  font-size: 15px;
  margin-bottom: 15px;
}

#members-content {
  padding: 32px 0;
  display: inline-block;
  text-align: center;
  width: 100%;
}

#members-content .members {
  float: left;
  width: 33.33333%;
}

#members-content .pic {
  width: 60%;
}

/* CSS: Tour */

#content .Tour-section {
  background-color: #000;
  height: 840px;
}

.section-content .book-tickets {
  background-color: #fff;
  font-size: 15px;
  list-style-type: none;
}

.book-tickets li {
  padding: 8px 16px;
  border: 1px solid #ddd;
}

.sold-out {
  background-color: #f44336;
  color: #fff;
  padding: 4px 8px;
  margin-left: 16px;
}

.quanlity {
  float: right;
  color: #fff;
  background-color: #000;
  border-radius: 50%;
  line-height: 24px;
  text-align: center;
  width: 24px;
  height: 24px;
}

/* Tour.places */

.tour-places {
  padding-top: 32px;
}

.Place-lists {
  float: left;
  width: 33.33333%;
  padding: 0 8px;
}

.Places-img {
  width: 100%;
  display: block;
}

.Places-img:hover {
  opacity: 0.6;
}

.Text-places {
  font-size: 15px;
  padding: 0 16px;
  background-color: #fff;
}

.Places-header,
.tour-about {
  padding: 15px 0;
}

.Places-header {
  font-weight: 400;
}

.Time-happening {
  opacity: 0.4;
}

.buy-tickets {
  padding: 8px 16px;
  background-color: #000;
  color: #fff;
  display: inline-block;
  margin-bottom: 16px;
}

.buy-tickets:hover {
  background-color: #ddd;
  color: #000;
}

/* Contact form */

.contact-info {
  font-size: 18px;
}

.contact-info i {
  width: 30px;
  display: inline-block;
}

.contact-form {
  font-size: 15px;
}

.form-control {
  padding: 11px 6px;
  border: 1px solid #ccc;
  width: 100%;
}

.contact-btn {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 9px 17px;
  float: right;
  margin-top: 16px;
  cursor: pointer;
}

.contact-btn:hover {
  background-color: #ccc;
  color: #000;
}

/* Img of map */

#map-section img {
  width: 100%;
  filter: grayscale(50%);
  display: block;
}

/* footer */

#footer {
  padding: 64px 16px;
  background-color: #f1f1f1;
}

#footer .soical,
.copy-right {
  text-align: center;
}

#footer .soical {
  font-size: 24px;
}

#footer .copy-right {
  font-size: 15px;
  margin: 15px 0;
}

#footer a,
p {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}

#footer a:hover {
  color: rgba(0, 0, 0, 0.4);
}
